
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 header {
  background-color: #1A76F2;
  height: 50px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
